@import "./css/colors.css";
@import "./css/registerstyle.css";
@import "./css/button.css";

*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}



/* header */
header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: var(--color-dark);
    color: white;
}


.mainHeader{
    display: flex;
    justify-content: space-between;
}

/* link */
.links ul{
    margin-top: 0;
    list-style-type: none;
    padding: 40px 40px; 

    text-transform: uppercase;
}

.links a{
    text-decoration: none;
}

.links a:visited{
    color: white;
}

.links a:hover{
    color: var(--color-primary);
}
/* end link */


/* log in - sign up */
.accountSettings ul{
    margin-top: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}

.accountSettings li{
    padding: 40px 10px; 
}

.accountSettings ul:last-child{
    padding-right: 30px;
}

.accountSettings a{
    text-decoration: none;
}

.accountSettings a:visited{
    color: white;
}

.accountSettings a:hover{
    color: var(--color-primary);
}

/* end log in - sign up */


.mainContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    height: calc(100vh - 200px); /* questo mi fa sparire main content e sidebar in mobile */
}

.linksMobile{
    visibility: hidden;
}
/* end header */



/* sidebar */
.sidebar{
    width: 20%;
    height: 100%;
    background-color: #d9d9d9;
}

.logo img{
    position: relative;
    left: 50%;
    translate: -50% ;
    top: 20px;
    width: 100px;
    height: 100px;
}
/* end sidebar */

/* content */
.content{
    position: relative;
    width: 80%;
    height: 100%;
}
/* end content */


/* footer */
footer{
    width: 100%;
    height: 100px;
    background-color: var(--color-dark);
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-left: 0;
}

footer li{
    color: lightgray;

}

footer a{
    text-decoration: none;
    color: lightgray;
}

footer a:hover{
    text-decoration: none;
    color:var(--color-primary);
}

/* end footer */




/* .element{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    background-color: red;
}
*/

/* dal minimo a 768px */
@media screen and (max-width: 768px){
    /* navbar */
    .accountSettings{
        visibility: hidden;
    }
    /* end navbar */
    
    /* header */

    /* end header */

    /* sidebar */
    .sidebar{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #d9d9d9;
        transform: translateX(100%); /* questo crea uno scroll orizzontale dell'elemento che non entra a schermo perché transla sull'asse x del 100% l'emenento */
    }

    .mainHeader{
        display: none;
    }

    .linksMobile img{
        position: absolute;
        top: 50%;
        left: 20px;
        width: 48px;
        height: 48px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        transform: translateY(-50%);
    }

    .burger{
        position: absolute;
        top: 50%;
        right: 20px;
        width: 48px;
        height: 48px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        transform: translateY(-50%); /* per spostare l'elemento del 50% della sua grandezza */
    }
    
    .burger .line{
        width: 100%;
        height: 4px;
        background-color: #fff;
    }
    /* end sidebar */

    /* content */
    .content{
        width: 100%;
        height: 100%;
    }
    /* end content */

    /* footer */
    footer ul{
        padding-left: 0;
    }
    /* end footer */
}
